.create-character-steps {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
}

.cc-step {
    height: 0.5rem;
    background-color: grey;
    min-width: 2vw;
    /*max-width: 0.1vw;*/
    border-radius: 5px;
}

.cc-step.active {
    background-color: #3498db;
}